<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>MEAN Converter</title>
    <!--<link rel="icon" type="image/x-icon" href="../assets/favicon.ico">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
